.default-card{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 10px;
}

.default-card__thumbnail{
    height: 95px;
    width: 50%;
}
.default-card__thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius);
    transition: .5s;
}
.default-card:hover img{
    filter: brightness(1.3);
}
.default-card__content{
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 7px;
}
.default-card__content h2{
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical; 
}
.default-card__content time{
    font-size: .7rem;
    color: #94a3b8;
}

@media (min-width:930px){

    .default-card__thumbnail{
        height: 68px;
    }
    .default-card__thumbnail img{
        height: 100%;
    }

}