<article class="article-card">
    <a [routerLink]="['post', idCard]" class="article-card__thumbnail">
        <img src="{{thumbnailCard}}">
        <span>{{ categoryCard }}</span>
    </a>
    <div class="article-card__content">
        <a [routerLink]="['post', idCard]" >
            <h2>
               {{titleCard}}
            </h2>
        </a>
        <p>
            {{ resumeCard }}
        </p>
        <p class="author-date">
            <strong>Kleuton Novais</strong> - <time>{{dateCard}}</time> 
        </p>
        
    </div>
</article>