<app-widget-default widgetTitle="Tags principais">
    <ul>
        <li>
            <a [routerLink]="['/search/category', 1]" >
                News
            </a>
        </li>
        <li>
            <a [routerLink]="['/search/category', 2]">
                Tecnologia
            </a>
        </li>
        <li>
            <a [routerLink]="['/search/category', 3]">
                Brasil
            </a>
        </li>
        <li>
            <a [routerLink]="['/search/category', 4]">
                Regional
            </a>
        </li>
        <li>
            <a [routerLink]="['/search/category', 5]">
                Mundo
            </a>
        </li>
        <li>
            <a [routerLink]="['/search/category', 6]">
                Ofertas
            </a>
        </li>
    </ul>
</app-widget-default>