<section class="container">
    <app-big-card
        thumbnailCard="{{ bigNews.imagensUrl?.image_intro }}"
        categoryCard="{{ bigNews.editorias }}"
        titleCard="{{bigNews.titulo}}"
        dateCard="{{bigNews.data_publicacao}}"
    ></app-big-card>
    <div class="featured-card">
        <app-featured-card
            *ngFor="let card of featuredNews; let i = index"
            thumbnailCard="{{ card.imagensUrl?.image_intro }}"
            titleCard="{{ card.titulo }}"
            dateCard="05 Agosto, 2023"
        ></app-featured-card>
    </div>
</section>