<section class="container">
    <app-big-card
        idCard="{{ bigNews.id }}"
        thumbnailCard="{{ bigNews.imagensUrl?.image_intro }}"
        categoryCard="{{ bigNews.editorias | categoryName }}"
        titleCard="{{bigNews.titulo}}"
        dateCard="{{bigNews.data_publicacao}}"
    ></app-big-card>
    <div class="featured-card">
        <app-featured-card
            *ngFor="let card of featuredNews; let i = index"
            idCard="{{ card.id }}"
            thumbnailCard="{{ card.imagensUrl?.image_intro }}"
            titleCard="{{ card.titulo }}"
            dateCard="{{ card.data_publicacao }}"
        ></app-featured-card>
    </div>
</section>