button.menu_mobile{
    color: var(--cl-primary);

    &:hover{
        color: var(--hover-color);
    }
}
.border-top{
    width: 100%;
    height: 5px;
    background: var(--border-top-bg);
}
.overlay-bg{
 visibility: hidden;
 opacity: 0;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: #0f172a80;
 backdrop-filter: blur(2px);
 transition: all .25s ease;
 z-index: 90;
}

.menu-continer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    padding: 0 15px;
}
.menu-content{
    position:absolute;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100vh;
    background: var(--bg-primary);
    opacity: 1;
    transition: opcity .3s, left .3s ;
    z-index: 999;
}

.menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    margin-bottom: 20px;
    box-shadow: var(--shadow);
}
.menu-body{
    flex: auto;
}
.menu-footer{
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.menu-footer a{
    font-weight: 400;
    text-decoration: underline;
}
div.mobile-menu.show{
    .menu-content{        
        left: 0;
        opacity: 1;
    }
    .overlay-bg{
        visibility: visible;
        opacity: 1;
    }
}

