<div class="about-author">
    <img src="https://avatars.githubusercontent.com/u/106082564?v=4" alt="Foto do autor"/>
    <div class="description">
        <h3>Kleuton Novais</h3>
        <p>Este blog foi criado por mim com o objetivo de resolver desafios utilizando o <strong>Angular</strong>. <br/>
        Sou <strong>Analista e Desenvolvedor de Sistemas - FullStack</strong>.  Confira o meu portfólio e minhas redes sociais abaixo:</p>
        <app-menu-social [isMobile]=true></app-menu-social>
    </div>
</div>
