<footer>
    <div class="footer-site container">
        <app-logo [isDark]=true></app-logo>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
        </p>
        <div class="social">
           <app-menu-social></app-menu-social>
        </div>
    </div>
    <div class="footer-by">        
        <p>
            Made withby 💙 
            <a href="http://kleuton.dev" target="_blank">
                Kleuton Novais
            </a> 
        </p>
    </div>
</footer>